html, body, article, section, div, h1, h3, ul, li {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body#game {
    background-color: #DDD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 0.25rem;
    width: 60vw;
}

header {
    margin: 0;
    width: 90vw;
    height: 15vh;
    text-align: center;
}

h3 {
    margin-block-end: 8px;
}

ul {
    margin-block-start: 0;
    margin-bottom: 0.5rem;
}

#suspenso {
    margin: 0;
    width: 60vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    width: 60vw;
    height: 55vh;
}

#torre1,
#torre2,
#torre3 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 34%;
    height: 100%;
}
.towers {
    background-color: #555;
    border: 1px solid #000;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    width: 15%;
    height: 95%;
}
.towers:hover {
    cursor: pointer;
}

.discs {
    border: 1px solid #000;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    height: 30px;
}
.discs:hover {
    cursor: pointer;
}
#disc4 {
    background-color: #F0F;
    width: 130px;
}
#disc3 {
    background-color: #FF0;
    width: 100px;
}
#disc2 {
    background-color: #00F;
    width: 70px;
}
#disc1 {
    background-color: #0F0;
    width: 40px;
}


#notas {
    /* background-color: #00F; */
    margin-top: 1rem;
    width: 100vw;
    height: 5vh;
}
.notes {
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}
.hidden {
    display: none;
}
/* #errorLargeSmall {
    display: none;
} */
#errorCompleteWrongTower {
    display: none;
}
#success {
    display: none;
}


@media (min-width: 768px) {

    body#game {
        margin: 1rem 0;
    }

    article {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #FFF;
        width: 60vw;
        height: 50vh;
    }

    h1 {
        margin-bottom: 1rem;
    }

    header {
        margin: 0;
        width: 60vw;
        height: 10vh;
    }

    h3 {
       margin-block-end: 8px;
    }

    ul {
        margin-block-start: 0;
    }

    #suspenso {
        height: 10vh;
    }

    .towers {
        width: 5%;
    }

    #notas {
        margin-top: 1rem;
    }
}