html, body, article, section, div, h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    flex-direction: column;
    min-width: 736px;
    min-height: 414px;
}

body#game {
    background-color: #DDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 5rem;
}

h1 {
    text-align: center;
}

#suspenso {
    /* background-color: #F00; */
    margin: 0;
    width: 60vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


article {
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    width: 60vw;
    height: 60vh;
}

#torre1,
#torre2,
#torre3 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 34%;
    height: 100%;
}
.towers {
    background-color: #555;
    border: 1px solid #000;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    width: 5%;
    height: 90%;
}
.towers:hover {
    cursor: pointer;
}


.discs {
    border: 1px solid #000;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    height: 30px;
}
.discs:hover {
    cursor: pointer;
}
#disc4 {
    background-color: #F0F;
    width: 130px;
}
#disc3 {
    background-color: #FF0;
    width: 100px;
}
#disc2 {
    background-color: #00F;
    width: 70px;
}
#disc1 {
    background-color: #0F0;
    width: 40px;
}


#notas {
    /* background-color: #00F; */
    padding: 1rem;
    width: 60vw;
    height: 10vh;
}
.notes {
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}
#errorNoMoreThanOne {
    display: none;
}
#errorLargeSmall {
    display: none;
}
#errorCompleteWrongTower {
    display: none;
}
#success {
    display: none;
}





@media (min-width: 768px) {




}
